Introduction to variables in Python 
Rule for declaring the Variable
Rule No1:
No Name Spaces while declaring the Variable

In [2]:
First Name="Ammar"
print(First Name)

SyntaxError: invalid syntax (<ipython-input-2-109354600d6a>, line 1)

In [3]:
FirstName="Ammar"
print(FirstName)

Ammar

In [4]:
First_Name="Ammar"
print(First_Name)

Ammar

Rule No2:
Variable name should not start with a number
1name="Ammar"
print(1name)

In [5]:
Name1="Ammar"
print(Name1)

Ammar

Rule No3: Varaible should Not Include Any special Character
    
@##$%^

In [6]:
name@="Ammar"
print(name@)

SyntaxError: invalid syntax (<ipython-input-6-eb4edc9ee198>, line 2)

Introuction Data Types In Python:

String------> str
Number-------> integers(int) and Float(float)
List------> list
Tuples-------> tuple
Dictionaries-----------> dict

Note:Python is case sensitive language

Classification of DataTypes:
There 2 different types of data types
Mutable DataType-----> Which we can edit or alter
Immuatable DataType-----> Which we cannot edit or alter

Introduction to String Data type
defination: A string is nothing but series of Characters enclosed in quotes
Classification: Immutable
How to Declare a string---?
3 Possible ways for declaring a string
1. Single Quotes
2. Double Quotes
3. Triple Quotes

In [7]:
name="Ammar"
print(name)

Ammar

In [8]:
name1='Ammar'
print(name1)

Ammar

In [9]:
name3="""Ammar"""
print(name3)

Ammar

Introduction to String Methods:

In [11]:
#How to validate the Data Types====>type

In [12]:
type(name)

str

In [13]:
type(name1)

str

In [14]:
type(name3)

str

In [15]:
fullname="ammar ansari"
print(fullname)

ammar ansari

In [16]:
#requirement: To correct the above to the right format

In [17]:
print(fullname.title())

Ammar Ansari

In [18]:
#requirement: To have fullname in Capital

In [19]:
print(fullname.upper())

AMMAR ANSARI